@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
body {
  background: #fafafa;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 69px;
  width: 100%;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 37px;
  color: #ffffff;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box-criar-quizz {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  width: 1051px;
  height: 181px;
  border: 1px dashed #d5d5d5;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 120px;
}

.info-criar-quizz {
  display: flex;
  align-items: center;
  text-align: center;
  color: #b9b9b9;
  font-size: 20px;
  width: 250px;
  height: 107px;
}

.btn-criar-quizz {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ec362d;
  width: 151px;
  height: 40px;
  border: 1px dashed #ec362d;
  box-sizing: border-box;
  border-radius: 50px;
  cursor: pointer;
}

/*TODOS OS QUIZZES DA API*/

h2 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #000000;
}
.titulo-todos-quizzes {
  display: flex;
  width: 1051px;
  margin-top: 70px;
  margin-bottom: 12px;
}

.todos-quizzes-api {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1051px;
}

.quizzes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  width: 340px;
  height: 181px;
  border-radius: 5px;
  cursor: pointer;
}
.imagem-quizz {
  width: 340px;
  height: 181px;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 64.58%,
    #000000 100%
  );
  flex-wrap: wrap;
  word-wrap: break-word;
}
.imagem-quizz > img {
  width: 340px;
  height: 181px;
  -webkit-mask-image: linear-gradient(to top, transparent 25%, black 50%);
  border-radius: 5px;
  /*flex-wrap: wrap;
  word-wrap: break-word;*/
}
.imagem-quizz > span {
  flex-wrap: wrap;
  word-wrap: break-word;
  position: absolute;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  color: #ffffff;
  left: 2px;
  bottom: 15px;
}

.escondido {
  display: none;
}

/*QUIZZES CRIADO PELO USUARIO*/
.todos-quizzes-usuario {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1051px;
}
.quizzes-criado-pelo-usuario {
  margin-top: 100px;
}

.titulo-todos-quizzes-usuario {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  width: 1051px;
  margin-top: 70px;
  margin-bottom: 12px;
}

.icone-criar-quizz {
  box-sizing: border-box;
  color: #ec362d;
  font-size: 25px;
  margin-left: 15px;
}
.icone-criar-quizz:focus {
  outline: none;
}

/* desktop8*/
.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.subtitulo {
  padding-top: 100px;
  align-self: center;
}
.informacoesBasicas {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
}
.texto {
  align-self: center;
  width: 30%;
  height: 20px;
  margin-top: 8px;
  padding: 5px;
  color: #bababa;
}
.prosseguir {
  background-color: #ec362d;
  width: 20%;
  height: 38px;
  align-self: center;
  border-radius: 10px;
  text-align: center;
  margin-top: 60px;
}

h3 {
  color: #fff5f4;
  margin-top: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
}


/* desktop9*/

.inputs{
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 25%;
}
.caixinha {
width: 100%;
height: 25px;
margin-bottom: 14px;

}
input::placeholder {
  color:#BABABA
}

.tituloInput {
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
}
.prgtIcone{
display: flex;
justify-content: space-between;
}
.icone{
  align-self: flex-end;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}
.none{
  display:none;
}

/* desktop10*/


/*TELA DAS QUESTOES DO QUIZZ SELECIONADO*/
.box-questoes {
  width: 100%;
}
.titulo-quizz {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 30px;
  margin-top: 69px;
  width: 100%;
  height: 150px;
  opacity: 60%;
  position: relative;
}
.titulo-quizz img {
  width: 100%;
  height: 150px;
}
.titulo-quizz span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}


.box-questoes-quizzes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-perguntas-respostas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    margin-top: 80px;
    width: 759px;
    height: 676px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.box-perguntas-respostas img {
  width: 329.91px;
  height: 175.2px;
}
.titulo-pergunta{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 688.16px;
    height: 137.99px;   
    background-color: #434CA0;
}
.titulo-pergunta span{
    text-align: center;
    width: 100%;
    word-wrap: break-word;
    font-size: 23px;
    color: #FFFFFF;
}

.todas-respostas{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 688.16px;
}


.box-respostas{
    display: flex;
    word-wrap: break-word;
    flex-direction: column;
    width: 331.94px;
    margin-bottom: 20px;
    /*background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);*/
    cursor: pointer;
}

/* DESATIVAR AS OUTRAS ALTERNATIVAS */
.box-respostas-desabilitadas{
    display: flex;
    flex-direction: column;
    opacity: 0.3;
}

/*** *************************** ***/

.box-respostas img{
   /* -webkit-mask-image: linear-gradient(to top, transparent 5%, black 25%);*/
    width: 329.91px;
    height: 175.2px;
    margin-bottom: 10px;
}

.box-respostas span{
    font-size: 15px;
}

.resposta-correta{
  color: green ;
}

.resposta-errada{
  color: red;
}

.box-resultado-quizz {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 80px;
  width: 759px;
  height: 430px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.box-resultado-quizz img {
  width: 364px;
  height: 273px;
}
.titulo-resultado {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  width: 727px;
  height: 99px;
  color: #ffffff;
  background-color: #ec362d;
}
.titulo-resultado span{
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  /*flex-wrap: wrap;*/
  width: 100%;
}

.conteudo-resultado {
  display: flex;
}
.box-resultado-img {
  width: 364px;
  height: 273px;
}
.box-descricao-resultado {
  word-wrap: break-word;
  width: 328px;
  font-size: 19px;
  margin-left: 20px;
}

.bnt-reiniciar-quizz {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff5f4;
  font-size: 21px;
  width: 260.38px;
  height: 52px;
  background: #ec362d;
  border-radius: 15px;
  margin-top: 80px;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.bnt-voltar-home {
  margin-bottom: 70px;
}
.bnt-voltar-home span {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  color: #818181;
  cursor: pointer;
}
h3 {
  color: #fff5f4;
  margin-top: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
}

/*AJEITAR A PARTE DE ESCONDER E APARECER OS QUIZZES DO USUARIO */
